*:focus {
  outline: none;
}

table.paleBlueRows {
  font-family: sans-serif;
  /*border: 1px solid #FFFFFF;*/
  width: 100%;
  /*height: 200px;*/
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 40px;
}
table.paleBlueRows td,
table.paleBlueRows th {
  /*border: 1px solid #FFFFFF;*/
  padding: 3px 5px;
}
table.paleBlueRows tbody td {
  font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
  /*background: #D0E4F5;*/
}
table.paleBlueRows thead {
  /*background: #0B6FA4;*/
  border-bottom: 5px solid #ffffff;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  /*color: #FFFFFF;*/
  text-align: center;
  border-left: 2px solid #ffffff;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  /*color: #333333;*/
  /*background: #D0E4F5;*/
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}

.link-btn {
  color: white;
  background: #7cb1ce;
  padding: 1px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 8pt;
  border: 1px solid;
  text-decoration: none;
  margin: 1px;
}

.link-btn:hover {
  background: #6ab8be;
}

.file-icon {
  font-size: 24px;
  color: #8a96a2;
  margin: 5px;
  margin-right: 12px;
  cursor: pointer;
}

/* File drag and drop styles */

.dropcontainer {
  display: table;
  width: 100%;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  /*border: 1px solid #d0cece;*/
  border: 2px dashed #d0e4f5;
  box-sizing: border-box;
}

.dropcontainer:hover {
  border: 2px solid #d0e4f5;
}

.box {
  display: table-cell;
  vertical-align: middle;
  outline: none;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

/* style 4 */

.inputfile-4 + label {
  color: #0c6ea4;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
  color: #7bb1ce;
}

.inputfile-4 + label figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0c6ea4;
  display: block;
  padding: 20px;
  margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
  background-color: #7bb1ce;
}

.inputfile-4 + label svg {
  width: 100%;
  height: 100%;
  fill: #dfe5f1;
}

@media screen and (max-width: 50em) {
  .inputfile-6 + label strong {
    display: block;
  }
}

.fa-download:hover {
  color: #0066c2;
}

.fa-redo:hover {
  color: #0066c2;
}

.fa-share-square:hover {
  color: #0066c2;
}

.scrim {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  padding: 0px;
  margin: 0px;
  border: 0px;

  background: rgba(255, 255, 255, 0.8);

  z-index: 1000;
  display: none;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.dim {
  opacity: 0.5;
}
